encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.config/sops/age/keys.txt"
    recipient = "age1jqy4r7lltng327m9wzwtrwcd9pkjpveafmv8cjhv2tymdmcg93vqrc3y4j"
    
[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
]

[diff]
command = "code"
args = ["--wait", "--diff"]

