# for fix error in claude in vscode terminal
export _ZO_DOCTOR=0

source ~/.local/share/omakub/defaults/bash/rc

# Editor used by CLI
export EDITOR="micro"

# Set use vscode as editor when running in vscode terminal
# `fnox` needs execution without `args` to work properly, so we can't use `code --wait` as the default editor, but we can set `EDITOR` to `code-wait` when running in vscode terminal
if [ "$TERM_PROGRAM" = "vscode" ]; then
  export EDITOR="/home/ben/.local/bin/code-wait"
fi

export SUDO_EDITOR="$EDITOR"

. "$HOME/.cargo/env"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

if [ -f ~/.bash_aliases ]; then
  . ~/.bash_aliases
fi

export PATH="/home/ben/.bun/bin:$PATH"

# API Keys (via 1Password CLI)
export GEMINI_API_KEY="{{ onepasswordRead "op://Private/Google/API/gemini key" }}"
export PERPLEXITY_API_KEY="{{ onepasswordRead "op://Private/Perplexity/API Token" }}"
export OPENAI_API_KEY="{{ onepasswordRead "op://Private/Openai/API Keys/API Key" }}"

# mise should done my ommakub
# eval "$("$HOME/.local/bin/mise" activate bash)"

# via mise fnox should be activated. and sec. reason
# eval "$(fnox activate bash)"

# OpenClaw
alias openclaw="pnpm --dir ~/ddd/tools/openclaw run"
source "/home/ben/.openclaw/completions/openclaw.bash"
